* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: relative;
  background-image: url('../image/banner/banner2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  padding: 216px 150px 167px 845px;
  max-width: 525px;
  margin: 0 auto;
}

.header-title {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-description {
  color: #444343;
  font-size: 16px;
  margin-bottom: 20px;
}

.header-btn {
  width: 160px;
  height: 65px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #f15b22;
  border-radius: 5px;
}
main{
  margin: auto;
}
main section{
  margin-top: 130px;
}
.past{ 
   
  background:#FFF;;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 500px;
}
.pic{
  width: 451px;
  height: 898px;
  background-image: url('../image/person1.png');
  background-repeat: no-repeat;
}

}
.past-content{
  display: flex;
  
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.past-title{
  width:290px ;
  height: 95px;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
  color: #151414;
}
.past-description{
  margin-bottom: 10px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.list{
 list-style: none;
}
span{
  color: rgb(24, 231, 51);
}
.plan-section{
  background: #FFF;
  margin: 130px 230px;
}
.plans{
  display: flex;
  justify-content: space-around;
}
.plan-title{
  font-size: 40px;
  color: #151414;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.skills{
  align-items: center;
  text-align: center;
}
.sub{
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.skills p{
 font-size: 25px;
 color: #737272;
 font-weight: 500;
}
.watch {
  width: 1140px;
  height: 300px;
  margin: 130px 230px;
  background-image: url('../image/gradient2.png'), url('../image/watch.png');
  background-position: center;
  padding-left: 300px;
  background-repeat: no-repeat;
}
.watch-title{
  text-align: left;
  display: flex;
  width: 459px;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 70px;
}
.watch-title h1{
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}
.watch-title button{
  width: 140px;
  height: 50px;
  color: #F15B22;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
footer{
  background: #151414;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  display: flex;
  color: #FFF;
  justify-content: space-around;
  align-items: center;
  padding: 0px 270px;
}
.future{
  padding: auto;
  width: 485px;
}
.future h1{
  font-size: 45px;
  font-weight: 700;
}
.future p{
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 10px;
}
.subscribe{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subscribe h1{
  font-size: 25px;
  font-weight: 600;
}

.subscribe input{
  color: #151414;
  width: 325px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid #FFF;
}
.subscribe button{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background: #FFF;
  color: #F15B22;
  font-size: 20px;
  font-weight: 600;
}
.icons{
  display: flex;
  gap: 15px;
}